/* Estilização da Página Inicial */
.home-container {
  max-width: 900px; /* Ampliando a largura para mais conteúdo */
  margin: 50px auto;
  padding: 25px;
  background-color: #0A0A0A; /* Fundo escuro, mantendo a consistência */
  border-radius: 10px; /* Bordas mais arredondadas */
  text-align: center;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.home-container h1 {
  font-size: 3rem; /* Tamanho maior para chamar mais atenção */
  color: #ffffff; /* Cor do texto em branco para contraste */
  margin-bottom: 25px;
  font-weight: 600; /* Negrito para dar mais impacto */
}

.home-container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #dddddd; /* Cor mais suave para o texto */
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap; /* Permitindo que os botões se ajustem em dispositivos menores */
}

.home-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007BFF; /* Cor azul dos botões */
  color: #ffffff; /* Texto branco */
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 8px; /* Bordas mais arredondadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombras para aumentar a profundidade */
  transition: all 0.3s ease-in-out; /* Transição mais suave */
}

.home-button:hover {
  background-color: #0056b3; /* Azul escuro do hover */
  color: #ffffff; /* Texto branco */
  transform: translateY(-3px); /* Efeito de levitação ao passar o mouse */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Sombra mais forte no hover */
}

.home-button:active {
  transform: translateY(1px); /* Efeito de clique para dar sensação de pressionado */
}
