/* Estilização da Página de Projetos */
.project-page-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 25px;
  background-color: #0A0A0A; /* Cor de fundo escura */
  border-radius: 10px; /* Bordas mais arredondadas */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.project-page-container h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Cor branca para o título */
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.project-page-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #dddddd; /* Cor suave para o texto */
  margin-bottom: 15px;
  text-align: justify;
}

.github-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #007BFF; /* Azul para o botão */
  color: #ffffff; /* Texto branco */
  text-decoration: none;
  border-radius: 8px; /* Bordas mais arredondadas */
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para profundidade */
}

.github-button:hover {
  background-color: #0056b3; /* Azul escuro no hover */
  transform: translateY(-3px); /* Levitação no hover */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); /* Aumento da sombra */
  color: #ffffff; /* Texto branco */
}

.github-button:active {
  transform: translateY(1px); /* Efeito de clique para o botão */
}
