footer{
    background-color: rgb(134, 4, 255);
    color: white;
    text-align: center;
    padding: 20px;

}

.footer-content{
    max-width: 1200px;
    margin: 0 auto;
}

footer ul{
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;

}

footer a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    transition: color 0.3s;

}

footer a:hover{
    color: #ccc;
}