.QuemSomos{
    margin: 0 auto;
    width: 95%;
    font-family: 'Roboto', sans-serif;
}

.QuemSomos img{
    margin: 30px;

}

.QuemSomos h1{
    font-weight: 700;
    font-size: 2.1em;

}

.QuemSomos p{
    font-size: 1em;
    line-height: 30px;
    text-align: justify;
}